<div class="wrapper">
  <mat-toolbar>
    <span>{{ title }}</span>
  </mat-toolbar>
  <mat-form-field class="selectMenu" appearance="fill">
    <mat-label>Menus</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let menu of data"
        [value]="menu.menu"
        #selectedMenu
        (click)="onSelectMenu(selectedMenu)"
      >
        {{ menu.menu }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="main-content">
    <h1 *ngIf="selectedMenu">Round</h1>
    <div class="rounds" *ngIf="selectedMenu">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        (click)="onRoundChange(-1)"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h1>{{ currentRound }} / {{ totalRounds }}</h1>
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        (click)="onRoundChange(+1)"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <canvas #canvas class="canvas"></canvas>
  </div>
</div>
